@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --background: #e9f3ef;
  --foreground: #00201b;

  --card: #e9f3ef;
  --card-foreground: #00201b;

  --primary: #00a38f;
  --primary-foreground: #f1f1f1;

  --muted: #e9f3ef;

  --border: #e5e7eb;
  --ring: #00a38f;
}

.dark {
  --background: #00201b;
  --foreground: #deece6;
  --card: #00201b;
  --card-foreground: #f1f1f1;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
@media (max-width: 768px) {
  aside[class*="nextra"] {
    background-color: var(--background);
  }
}
